
#SJ-title {
    color: teal;
    font-family: 'Francois One', sans-serif;
    margin: -35px 0px 30px 0px;
}

.home_maincontent {
    display: inline-flex;
    margin: 50px 0px 0px 50px;
}

.description {
    width: 600px;
}

img {
    margin-left: 100px;
    width: 450px;
    height: 300px;
}
