div.header-links{
    float: left;
    margin: 2em;
}
.after-box {
    clear: left;
}

a {
    text-decoration: none;
}


#header-row1 {
    background-color: #1e90ff;
    padding: 8px;
}

#header-row2 {
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#envelope-icon {
    color: white;
    size: 3em;
}

#my-name {
    font-family: 'Poiret One', cursive;
}

a:hover {
    text-decoration: none;
}

a {
    color: black;
    font-size: 20px;
}

.dropbtn {
    background-color: #1e90ff;
    color: white;
    padding: 3px 10px 10px 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 15px;
    color: black;
    padding: 2px 0px 5px 5px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #1e90ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1e90ff;
}

.footer {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.footer .top {
    background: #232323;
    padding: 48px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

a.icoLinkedin:hover {
	background-color:#007bb7;
}

.fa {
    color: white;
}